.topbar{
    width: 100%;
    max-width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    font-size: 24px;
    margin: auto;
    /* -webkit-box-shadow: -2px 2px 14px 12px rgba(186,186,186,1);
   -moz-box-shadow: -2px 2px 14px 12px rgba(186,186,186,1);
    box-shadow: -2px 2px 14px 12px rgba(186,186,186,1);
    position: relative; */
}
.topImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.topList{
    display: flex;
    list-style: none;
}
.topListItem{
    margin-right: 16px;
    cursor: pointer;
}
.topIcon{
    margin-right: 16px;
    font-size: 26px !important;
    cursor: pointer;
}
.logout{
    display: flex;
    align-items: center;
}
.logout-btn{
    padding: 8px 16px;
    margin-right: 20px;
    border: 0;
    outline: 0;
    background-color: chocolate;
    border-radius: 10px;
    cursor: pointer;
}
.modal{
    width: 350px;
    position: absolute;
    top: 50px;
    right: 0;
    height: 200px;
   background-color: rgb(173, 173, 173);
   transition: all 2s linear;
   z-index: 50;
}
.modal ul{
    list-style: none;
    padding: 20px;
}
.modal ul li{
    cursor: pointer;
    margin-bottom: 5px;
    color: #6a7d05;
}