.headerbox{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.headerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
   
}
.headerTitles{
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.titleSm{
    
    font-size: 30px;
    margin-bottom: 16px;
}
.titleLg{
    font-size: 50px;
}